<div class="left-side-bar">
    <div class="brand-logo">
        <a href=".">
            <img src="/account/vendors/images/deskapp-logo.svg" alt="" class="dark-logo">
            <img src="/account/vendors/images/deskapp-logo-white.svg" alt="" class="light-logo">
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu">
                <li>
                    <a href="/account/admin" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-home"></span><span class="mtext">Home</span>
                    </a>
                </li>
                <li>
                    <a href="/account/admin/products" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-package"></span><span class="mtext">Product List</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>