<div class="left-side-bar">
    <div class="brand-logo">
        <a href=".">
            <img src="/account/vendors/images/deskapp-logo.svg" alt="" class="dark-logo">
            <img src="/account/vendors/images/deskapp-logo-white.svg" alt="" class="light-logo">
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu">
                <li>
                    <a href="/account/admin" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-home"></span><span class="mtext">Profile</span>
                    </a>
                </li>
                <li>
                    <a href="/" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-groceries-store"></span><span class="mtext">Store</span>
                    </a>
                </li>
                <li class="dropdown">
					<a href="javascript:;" class="dropdown-toggle">
							<span class="micon dw dw-user-12"></span><span class="mtext">Accounts</span>
					</a>
					<ul class="submenu">
							<li><a href="/account/admin/acc">User Accounts</a></li>
							<li><a href="/account/admin/admin-acc">Admin Accounts</a></li>
					</ul>
				</li>
                <li>
                    <a href="/account/admin/products" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-package"></span><span class="mtext">Products</span>
                    </a>
                </li>
                <li>
                    <a href="/account/admin/orders" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-shopping-cart1"></span><span class="mtext">Orders</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>