<body>
	<div class="login-header box-shadow">
		<div class="container-fluid d-flex justify-content-between align-items-center">
			{{>auth/logo}}
			<div class="login-menu">
				<ul>
					<li><a href="/auth/login">Login</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6">
					<img src="/store/vendors/images/forgot-password.png" alt="">
				</div>
				<div class="col-md-6">
					<div class="login-box bg-white box-shadow border-radius-10">
						<div class="login-title">
							<h2 class="text-center text-primary">Reset Password</h2>
						</div>
						{{#if valid}}
							{{#if done}}
							<div class="text-center" style="margin-bottom:25px;"><em style="color:red;">{{message}}</em></div>
							{{else}}
							<h6 class="mb-20">Enter your new password, confirm and submit</h6>
							<form method="post">
								<div class="input-group custom">
									<input type="password" class="form-control form-control-lg" placeholder="New Password" name="user_password" id="user_password">
									<div class="input-group-append custom">
										<span class="input-group-text"><i class="dw dw-padlock1"></i></span>
									</div>
								</div>
								<div class="input-group custom">
									<input type="password" class="form-control form-control-lg" placeholder="Confirm New Password" name="user_cfm_password" id="user_cfm_password">
									<div class="input-group-append custom">
										<span class="input-group-text"><i class="dw dw-padlock1"></i></span>
									</div>
								</div>
								<div class="text-center" style="margin-bottom:25px;"><em style="color:red;">{{message}}</em></div>
								<div class="row align-items-center">
									<div class="col-5">
										<div class="input-group mb-0">
											<input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">
										</div>
									</div>
								</div>
							</form>
							{{/if}}
						{{else}}
						<div class="text-center"><em style="color:red;">Invalid or expired token.</em></div>
						{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- js -->
    {{>auth/js}}
	<script src="/account/src/scripts/script.js"></script>
</body>