<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
        <a class="nav-link" href="../../index.html">
            <i class="mdi mdi-grid-large menu-icon"></i>
            <span class="menu-title">Dashboard</span>
        </a>
        </li>
        <!-- account management  -->
        <li class="nav-item nav-category">Account</li>
        <li class="nav-item">
        <a class="nav-link" href="./pages/account/user.html">
            <i class="menu-icon mdi mdi-account-circle-outline"></i>
            <span class="menu-title">User Page</span>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="./pages/account/admin.html">
            <i class="menu-icon mdi mdi-stop-circle-outline"></i>
            <span class="menu-title">Admin Page</span>
        </a>
        </li>
        <!-- end account management  -->

        <!-- product management  -->
        <li class="nav-item nav-category">Business</li>
        <li class="nav-item">
        <a class="nav-link" href="./pages/business/product.html">
            <i class="menu-icon mdi mdi-account-circle-outline"></i>
            <span class="menu-title">Product</span>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="./pages/business/charts.html">
            <i class="menu-icon mdi mdi-stop-circle-outline"></i>
            <span class="menu-title">Charts</span>
        </a>
        </li>
        <!-- end produc management  -->

        <li class="nav-item nav-category">Apps</li>
        <li class="nav-item">
        <a class="nav-link" href="./pages/apps/calendar.html">
            <i class="menu-icon mdi mdi-calendar"></i>
            <span class="menu-title">Calendar</span>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="./pages/apps/todo.html">
            <i class="menu-icon mdi mdi-format-list-bulleted"></i>
            <span class="menu-title">Todo List</span>
        </a>
        </li>
    </ul>
</nav>